$max: 766px;
// $blue: rgb(83, 157, 192);
$blue: #84a2ba;
$orange: #f7941f;
section {
  background: #84a2ba;
  // background: #cfd7dc;
  position: relative;
  padding: 32px 0;
  z-index: 10;
  // text-align: justify;
  h2 {
    text-align: left;
  }
  // min-height: 100vh;
}

.banner {
  height: 100vh;
  width: auto;
  padding: 0;
  position: relative;
  z-index: 2;
  background: #84a2ba;
  @media screen and (max-width: 766px) {
    height: 70vh;
    z-index: 101;
  }
  &__car {
    width: 720px;
    padding: 42px 0;
    margin: 0px auto;
    display: block;
    position: relative;
    background: #84a2ba;
    // z-index: 101;
    @media screen and (max-width: 766px) {
      width: 100%;
    }
    h1 {
      font-weight: 500;
      @media screen and (max-width: 766px) {
        // font-weight: 600;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__headline {
    position: absolute;
    bottom: 0;
    left: 50%;
    // border: 1px solid;
    width: 520px;
    transform: translate(-50%, -35%);
    @media screen and (max-width: 766px) {
      width: 320px;
      bottom: 0;
      transform: translate(-50%, -15%);
    }
    h1 {
      color: #fff61a;
      font-size: 52px;
      @media screen and (max-width: 766px) {
        font-size: 32px;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrap-detik {
  width: 640px;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 766px) {
    width: auto;
  }
}

.paragraph {
  background: $blue;
  p {
    font-size: 16px;
    @media screen and (max-width: 766px) {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 766px) {
    padding: 16px 0;
    z-index: 101;
  }
  position: relative;
}

.timeline {
  // background: #b0ffe3;
  z-index: 2;
  &__help {
    position: absolute;
    // left: 0;
    right: 0;
    top: 0;
    opacity: 0.3;
    height: 50vh;
    // bottom: 0;
    z-index: 5;
    @media screen and (max-width: 766px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__help2 {
    position: fixed;
    left: 0;
    right: 0;
    // top: 0;
    opacity: 0.2;
    filter: grayscale(100%);
    // height: 50vh;
    bottom: 0;
    z-index: 5;
    @media screen and (max-width: 766px) {
      z-index: 21;
      opacity: 0.7;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__help3 {
    position: absolute;
    // left: 0;
    left: 0;
    // top: 0;
    opacity: 0.3;
    // height: 50vh;
    bottom: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__help4 {
    position: absolute;
    // left: 0;
    right: 0;
    left: 0;
    top: 0;
    // top: 0;
    opacity: 0.3;
    // height: 50vh;
    bottom: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .image {
    width: 100%;
    height: 100%;
    // display: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.check {
  // min-height: 100vh;
  position: relative;
  // background: url("img/intro.jpg");
  // background-size: cover;
  // .content {
  //   // position: fixed;
  //   display: none;
  //   background: #84a2ba;
  //   left: 50%;
  //   z-index: 1;
  //   // margin-left: -250px;
  //   top: 50%;
  //   width: 500px;
  //   height: auto;
  //   transform: translate(-50%, -30%);
  //   .intro {
  //     width: 100%;
  //     text-align: center;
  //     font-size: 40px;
  //     margin: 0px 0 20px;
  //   }
  //   .text {
  //     font-size: 22px;
  //     padding-left: 2%;
  //     height: 30px;
  //     white-space: nowrap;
  //     overflow: hidden;
  //   }
  //   #bitcoin {
  //     width: 30px;
  //   }
  //   .credit {
  //     margin-top: 14px;
  //     font-size: 14px;
  //     font-style: italic;
  //   }
  //   .arrow {
  //     text-align: center;
  //     margin-top: 80px;
  //     font-size: 46px;
  //     backface-visiblilty: hidden;
  //   }
  // }
  &__img {
    width: 860px;
    height: auto;
    margin: 0 auto;
    @media screen and (max-width: 766px) {
      width: auto;
      height: 240px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__text {
    p {
      font-size: 20px;
    }
  }
  // &__bg {
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   z-index: 1;
  //   filter: blur(8px);
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }
}

.color-black {
  color: #000000;
  transition: 0.3s;
  &:hover,
  &:focus {
    color: #000000;
    // font-weight: bold;
    // margin-left: 4px;
    // text-decoration: none;
  }
}

.color {
  &-yellow {
    color: #fff61a;
  }
}

small {
  font-family: "Montserrat";
  font-weight: 700;
}

.hidden {
  display: none;
}

// .sticky + div {
//   padding-top: 100vh;
// }
.logo-detik {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 999;
  width: 90px;
  @media screen and (max-width: 766px) {
    top: 12px;
    left: 45%;
    width: 80px;
  }
}

.footer {
  z-index: 99 !important;
}

// p {
//   text-align: justify;
// }
.logo-hyundai {
  width: 100px;
  height: 100px;
  margin: 0 auto 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

//section
.section {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 766px) {
    min-height: auto;
    margin-bottom: 46px;
  }
  &-text {
    p {
      font-size: 16px;
      text-align: left;
      @media screen and (max-width: 766px) {
        font-size: 14px;
      }
    }
  }
  &-img {
    position: relative;
    display: flex;
    &-inner {
      &.samp1 {
        background-image: url("../img/1.webp");
        // display: ;
        opacity: 0 !important;
        display: none !important;
      }
      &.samp2 {
        background-image: url("../img/1.webp");
      }
      &.samp3 {
        background-image: url("../img/2.jpg");
      }
      &.samp4 {
        background-image: url("../img/2.jpg");
      }
      &.samp5 {
        background-image: url("../img/1.webp");
      }
      &.samp8 {
        background-image: url("../img/2.jpg");
      }
      height: 70vh;
      position: fixed;
      left: 0;
      width: 40%;
      top: 10%;
      mix-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      filter: blur(30px);
      opacity: 0;
      transition: 0.6s ease, opacity 0.6s ease, background-position 0.8s ease;
      @media screen and (max-width: 766px) {
        width: 40%;
        left: 2%;
        top: 5%;
        height: 250px;
      }
    }
  }
  &-body {
    display: flex;
    align-items: center;
    @media screen and (max-width: 766px) {
      width: 90% !important;
    }
    &-text {
      padding: 5vw;
    }
  }
  &.active {
    .section-img-inner {
      opacity: 1;
      background-position: 50% 50%;
      filter: blur(0);
    }
  }
  h2 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    @media screen and (max-width: 766px) {
      font-size: 5.5vw;
    }
  }
}

.section > * {
  width: 50%;
  @media screen and (max-width: 766px) {
    width: 70%;
  }
}

.coba {
  min-height: 100vh;
  &__img {
    width: 80vw;
    transition: all 0.3s ease-in;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: block;
    .part {
      width: fit-content;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.scroll-magic {
  transition: all 0.3s ease-in;
  /* the slides */
  .slick-dots {
    bottom: 4px;
    li {
      &.slick-active {
        button {
          &::before {
            color: #fff;
            font-size: 39px;
            content: "";
            width: 20px;
            height: 3px;
            background-color: #fff;
          }
        }
      }
      button {
        &::before {
          color: #fff;
          font-size: 39px;
          content: "";
          width: 20px;
          height: 3px;
          background-color: #fff;
        }
      }
    }
  }
  .slick-slide {
    margin: 0 16px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -16px;
  }
  // background: white;
  .full-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  &.red-bg {
    background: red;
  }
  &.green-bg {
    background: rgb(48, 205, 0);
  }
  &.blue-bg {
    background: rgb(60, 0, 255);
  }
}

.usp {
  @media screen and (max-width: 766px) {
    position: relative;
    z-index: 101;
    background: $blue;
  }
  .all {
    display: block;
    margin: 0 auto;
    .card {
      display: inline-block;
      width: 30%;
      height: 200px;
      margin: 8px;
      border-color: transparent;
      border-radius: 16px;
      text-align: center;
      padding: 8px;
      position: relative;
      @media screen and (max-width: 766px) {
        width: 100%;
      }
      &::before {
        content: "";
        background: rgba($color: #000, $alpha: 0.6);
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 16px;
        top: 0;
        bottom: 0;
        z-index: 4;
      }
      &__help {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
        right: 0;
        // background: rgba($color: #000000, $alpha: 0.6);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        bottom: 8px;
        left: 8px;
        z-index: 21;
      }
      h3,
      p {
        color: white;
      }
    }
  }
}

.showing {
  transition: all 0.5s ease-in;
  .slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  &.red-bg {
    background: rgba($color: #000000, $alpha: 0.4);
  }
  &.green-bg {
    background: rgb(48, 205, 0);
  }
  &.blue-bg {
    background: rgb(60, 0, 255);
  }
}

.test-skrollr {
  z-index: 102;
  .content {
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 50px;
    width: 500px;
  }
  .intro {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0px 0 20px;
  }
  .text {
    font-size: 22px;
    padding-left: 2%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
  }
  #bitcoin {
    width: 30px;
  }
  .credit {
    margin-top: 14px;
    font-size: 14px;
    font-style: italic;
  }
  .arrow {
    text-align: center;
    margin-top: 80px;
    font-size: 46px;
    backface-visiblilty: hidden;
  }
}

.typing {
  min-height: 100vh;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba($color: #000, $alpha: 0.6);
    content: "";
  }
  &__help {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    font-size: 21px;
    color: white;
  }
}
